<aside class="border-0 lg:border-l border-slate-200 dark:border-slate-700 p-4 min-w-96">
  <nav>
    <ul class="space-y-4">
      <li>
        <a>
          Introduction to Pages
        </a>
      </li>
      <li>
        <a>
          Installation
        </a>
      </li>
      <li>
        <a>
          Essential knowledge
        </a>
      </li>
      <li>
        <a>
          Tutorials and examples
        </a>
      </li>
    </ul>

    <hr class="my-4 border-t border-slate-200 dark:border-slate-700">

    <span class="mt-0 font-extralight mb-2 text-nowrap text-xs">Resources</span>

    <ul class="mt-4 space-y-4">
      <li>
        <a>
          GitHub repository
        </a>
      </li>
    </ul>
  </nav>
</aside>
