<aside class="border-0 lg:border-l border-slate-200 dark:border-slate-700 p-4 min-w-96">
  <nav>
    <ul class="list-none space-y-4">
      <li>
        <a href="${new URL(`${langCode}/${text.home.url ? text.home.url + '/' : ''}`, config.baseURI)}">
          ${text.home.long_title}
        </a>
      </li>
      <li>
        <a href="${new URL(`${langCode}/${text['getting-started'].url}/`, config.baseURI)}">
          ${text['getting-started'].long_title}
        </a>
      </li>
      <li>
        <a href="${new URL(`${langCode}/${text.essentials.url}/`, config.baseURI)}">
          ${text.essentials.long_title}
        </a>
      </li>
      <li>
        <a href="${new URL(`${langCode}/${text.examples.url}/`, config.baseURI)}">
          ${text.examples.long_title}
        </a>
      </li>
    </ul>

    <hr class="my-4 border-t border-slate-200 dark:border-slate-700">

    <span class="mt-0 font-extralight mb-2 text-nowrap text-xs">Resources</span>

    <ul class="mt-4 space-y-4">
      <li>
        <a href="https://github.com/plushveil/pages" target="_blank">
          ${text['github-repository']}
        </a>
      </li>
    </ul>
  </nav>
</aside>

<script target="aside">
  import { getLanguage } from '../scripts/translations.mjs'
  export const langCode = params.languages
  export const text = await getLanguage(langCode)
</script>
