<nav aria-label="breadcrumb" class="bg-slate-200 dark:bg-slate-700 overflow-hidden">
  <ol class="container flex flex-nowrap mx-auto items-center py-1">
    <li class="flex flex-nowrap">
      <span class="text-gray-500 select-none">></span>
      <select class="px-4 appearance-none bg-transparent focus-within:bg-slate-200 dark:focus-within:bg-slate-700" aria-label="Language">
        ${translations.map(([lang, name]) => `<option value="${lang}" class="text-nowrap">${name}</option>`).join('')}
      </select>
    </li>
  </ol>
  <template>
    <li class="flex flex-nowrap">
      <span class="text-gray-500 select-none">></span>
      <a class="font-normal px-4 text-nowrap"></a>
    </li>
  </template>
</nav>

<script target="nav">
  import { getLanguage, getLanguages } from '../../scripts/translations.mjs'
  export const langCode = params.languages
  export const text = await getLanguage(langCode)
  export const translations = (await Promise.all((await getLanguages()).map(async lang => [lang, (await getLanguage(lang)).lang.name])))
    .sort((a, b) => {
      if (a[0] === langCode) return -1
      if (b[0] === langCode) return 1
      return a[1].localeCompare(b[1])
    })
</script>
